# dependencies

/node_modules
/.pnp
.pnp.js

# testing

/coverage

# production builds

/build

# environment variables

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files

.DS_Store
Thumbs.db

# IDE/editor folders

.vscode/
.idea/

# optional cache folders

.cache/
.parcel-cache/

# TypeScript

*.tsbuildinfo
